<div class="container-fluid bg-gray">
    <div class="container" style="font-size:25px;">
        <p>Select your fav color</p>
    </div>
</div>
<div class="container">
    <div class="row">
         <div class="col-md-6">
          <div class="btn-group" uib-dropdown>
            <button type="button"
                    class="btn btn-lg btn-primary uib-dropdown-toggle"
                    uib-dropdown-toggle style="width:250px" ng-style="{'background-color':color1}">
                {{color1}} <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu">
                <li role="menuitem" ng-repeat="item in style.colors" ng-style="{'background-color':item}">
                    <a href="" ng-click="selectColor1(item)">{{item}}</a>
                </li>
            </ul>
          </div> 
    </div>
    <div class="col-md-6">
              <div class="btn-group" uib-dropdown>
            <button type="button"
                    class="btn btn-lg btn-primary uib-dropdown-toggle"
                    uib-dropdown-toggle style="width:250px" ng-style="{'background-color':color2}">
                {{color2}} <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu">
                <li role="menuitem" ng-repeat="item in style.colors" ng-style="{'background-color':item}">
                    <a href="" ng-click="selectColor2(item)">{{item}}</a>
                </li>
            </ul>
        </div> 
        </div>
    
        </div>

        <div class="row">

            <button style="float:right;border-radius:20px;width:150px;height:50px">Submit</button>
        </div>
    </div>
</div>