<div class="container-fluid bg-gray" ng-init="init()">
    <div class="container" style="font-size:25px;">
        <p>Select your fav color</p>
    </div>
</div>
<div class="container">
    <div class="row">
        

         <div class="col-md-6">
            <canvas id="picker"></canvas><br>
        
    </div>
    <div class="col-md-6">
            <input class="search-color" ng-model="cl1" id="search-color" name="color[]" value="" autocomplete="off" >
            <input class="search-color" ng-model="cl2" id="search-color1" name="color[]" value="" autocomplete="off" >
        </div> 
        </div>
    
        </div>

        <div class="row">

            <button style="float:right;border-radius:20px;width:150px;height:50px" ng-click="updateProfile()">Submit</button>
        </div>
    </div>
</div>