<div>
             <div class="row">
                 &nbsp;
             </div>
            
            <div class="row">
                  <angucomplete-alt id="ex1"
                        placeholder="Search font"
                        pause="100"
                        selected-object="selectedFont"
                        local-data="Fonts"
                        search-fields="name"
                        title-field="name"
                        minlength="0"
                        input-class="form-control form-control-small">
              </angucomplete-alt>
            </div>
		</div>