<div class="body-container">
    <div class="grid-continer">
        <div class="clear"></div>
        <h1 class="login-with">My Profile</h1>
        <div class="edit-profile editprofilebox">

            <form class="profile-form col s12" method="post" ng-submit="updateProfile()" name="editprofileform">
                <div class="row">
                    &nbsp;
                </div>

                <div class="row">
                    <p style="text-align:center">
                        <span class="error" ng-show="editprofileform.myImage.$error.image">
                            Not a JPEG or a PNG!
                        </span>
                        <span class="error" ng-show="editprofileform.myImage.$error.dimensions">
                            Image height should be greater than 150 and width should be greater than 1.5 time of height !
                        </span>
                    </p>


                    <div class="col s6 offset-s3 tooltipped" data-position="top" data-delay="50" data-tooltip="Upload Picture">
                        <div class="box-dp">
                            <!--<label class="control-label">Profile Picture</label>-->
                            <input type="file" ng-change="updatePreview()" style="display:none" id="myFile" name="myImage" image-with-preview ng-model="picture"
                                   accept="image/jpeg,image/png" dimensions="height > 150  && width > 1.5 * height">
                            <img class="responsive-img" ng-src="{{user.picture || 'client/assets/images/upload.png'}}" alt="favepic" onclick="document.getElementById('myFile').click();">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group input-field col s12">
                        <label class="active" for="displayname">Display Name</label>
                        <input id="displayname" type="text" class="form-control" ng-model="user.displayName" />

                    </div>
                </div>
                <div class="row">
                    <div class="form-group input-field col s12">
                        <label class="active">Email Address</label>
                        <input type="text" class="form-control" ng-model="user.email" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group input-field col s12">
                        <label class="active">Location</label>
                        <input type="text" class="form-control" ng-model="user.location" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group input-field col s12">
                        <input id="profilefont" name="profilefont" type="text" class="form-control" ng-model="user.font" readonly />
                        <label for="profilefont" class="active">Favourite Fonts</label>
                        <a ui-sref="setting.color" class="edit-font"><i class="small material-icons">mode_edit</i></a>
                    </div>
                </div>
                <!-- phase 2 <div class="row">
                    <div class="form-group input-field col s6">
                        <label class="active">Favourite Book</label>
                        <input type="text" class="form-control" ng-model="user.book" />
                    </div>
                    <div class="form-group input-field col s6">
                        <label class="active">Favourite Website</label>
                        <input type="url" class="form-control" ng-model="user.website" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group input-field col s6">
                        <label class="active">Favourite Designer</label>
                        <input type="text" class="form-control" ng-model="user.favdesigner" />
                    </div>
                    <div class="form-group input-field col s6">
                        <input id="profilefont" name="profilefont" type="text" class="form-control" ng-model="user.font" readonly />
                        <label for="profilefont" class="active">Favourite Fonts</label>
                        <a ui-sref="setting.color" class="edit-font tooltipped" data-position="top" data-delay="50" data-tooltip="Chane fav color & font?"><i class="small material-icons">mode_edit</i></a>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group input-field col s12">
                        <label class="active">Favourite Status</label>
                        <input type="text" class="form-control" ng-model="user.status" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group input-field col s12">
                        <label class="active">Job Description</label>
                        <input type="text" class="form-control" ng-model="user.jobDescription" />
                    </div>
                </div>-->
                <div class="row">
                    <div class="form-group input-field col s12">
                        <label class="active"> Favourite Colors</label>
                        <!--<input type="text" class="form-control" ng-model="user.color" readonly />-->
                        <div class="box-colors form-control">
                            <div class="color-one" ng-style="{'background-color':user.color[0]}"></div>
                            <div class="color-two" ng-style="{'background-color':user.color[1]}"></div>
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <button type="submit" class="waves-effect waves-light btn login-button">Update Information</button>
                </div>
            </form>
        </div>
        <!-- Phase 2
            <div class="center-align">
            <div class="or-text">Linked Accounts</div>
            <a class="login-with-social" ng-if="user.facebook" ng-click="unlink('facebook')"> Unlink Facebook Account<i class="facebook"></i></a>
            <a class="login-with-social" ng-if="!user.facebook" ng-click="link('facebook')">Link Facebook <i class="facebook"></i></a>
            <a class="login-with-social" ng-if="user.twitter" ng-click="unlink('twitter')"> Unlink twitter Account<i class="twitter"></i></a>
            <a class="login-with-social" ng-if="!user.twitter" ng-click="link('twitter')">Link twitter <i class="twitter"></i></a>

        </div>-->

    </div>


</div>




<!--phase 2    <div class="panel panel-default">
        <div class="panel-heading">Accounts</div>
        <div class="panel-body">
            <legend><i class="ion-link"></i> Linked Accounts</legend>
            <div class="btn-group-vertical">
                <button class="btn btn-sm btn-danger" ng-if="user.facebook" ng-click="unlink('facebook')">
                    <i class="ion-social-facebook"></i> Unlink Facebook Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.facebook" ng-click="link('facebook')">
                    <i class="ion-social-facebook"></i> Link Facebook Account
                </button>

                <button class="btn btn-sm btn-danger" ng-if="user.twitter" ng-click="unlink('twitter')">
                    <i class="ion-social-twitter"></i> Unlink Twitter Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.twitter" ng-click="link('twitter')">
                    <i class="ion-social-twitter"></i> Link Twitter Account
                </button>

                <button class="btn btn-sm btn-danger" ng-if="user.google" ng-click="unlink('google')">
                    <i class="ion-social-googleplus"></i> Unlink Google Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.google" ng-click="link('google')">
                    <i class="ion-social-googleplus"></i> Link Google Account
                </button>

                <button class="btn btn-sm btn-danger" ng-if="user.linkedin" ng-click="unlink('linkedin')">
                    <i class="ion-social-linkedin"></i> Unlink LinkedIn Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.linkedin" ng-click="link('linkedin')">
                    <i class="ion-social-linkedin"></i> Link LinkedIn Account
                </button>


                <button class="btn btn-sm btn-danger" ng-if="user.github" ng-click="unlink('github')">
                    <i class="ion-social-github"></i> Unlink GitHub Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.github" ng-click="link('github')">
                    <i class="ion-social-github"></i> Link GitHub Account
                </button>

                <button class="btn btn-sm btn-danger" ng-if="user.instagram" ng-click="unlink('instagram')">
                    <i class="ion-social-instagram"></i> Unlink Instagram Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.instagram" ng-click="link('instagram')">
                    <i class="ion-social-instagram"></i> Link Instagram Account
                </button>

                <button class="btn btn-sm btn-danger" ng-if="user.foursquare" ng-click="unlink('foursquare')">
                    <i class="ion-social-foursquare"></i> Unlink Foursquare Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.foursquare" ng-click="link('foursquare')">
                    <i class="ion-social-foursquare"></i> Link Foursquare Account
                </button>

                <button class="btn btn-sm btn-danger" ng-if="user.yahoo" ng-click="unlink('yahoo')">
                    <i class="ion-social-yahoo"></i> Unlink Yahoo Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.yahoo" ng-click="link('yahoo')">
                    <i class="ion-social-yahoo"></i> Link Yahoo Account
                </button>

                <button class="btn btn-sm btn-danger" ng-if="user.live" ng-click="unlink('live')">
                    <i class="ion-social-windows"></i> Unlink Windows Live Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.live" ng-click="link('live')">
                    <i class="ion-social-windows"></i> Link Windows Live Account
                </button>

                <button class="btn btn-sm btn-danger" ng-if="user.twitch" ng-click="unlink('twitch')">
                    <i class="ion-social-twitch"></i> Unlink Twitch Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.twitch" ng-click="link('twitch')">
                    <i class="ion-social-twitch"></i> Link Twitch Account
                </button>

                <button class="btn btn-sm btn-danger" ng-if="user.bitbucket" ng-click="unlink('bitbucket')">
                    <i class="fa fa-bitbucket"></i> Unlink Bitbucket Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.bitbucket" ng-click="link('bitbucket')">
                    <i class="fa fa-bitbucket"></i> Link Bitbucket Account
                </button>

                <button class="btn btn-sm btn-danger" ng-if="user.spotify" ng-click="unlink('spotify')">
                    <i class="fa fa-spotify"></i> Unlink Spotify Account
                </button>
                <button class="btn btn-sm btn-primary" ng-if="!user.spotify" ng-click="link('spotify')">
                    <i class="fa fa-spotify"></i> Link Spotify Account
                </button>

            </div>
        </div>
    </div>
</div>-->
<script>
    $(document).ready(function () {
        $('.tooltipped').tooltip({ delay: 50 });
    });
</script>