@charset "utf-8";

@font-face {
    font-family: "Avenir Next";
    src: url(../fonts/AvenirNextLTPro-Regular.otf) format("woff")
}

@font-face {
    font-family: "Avenir Next Bold";
    src: url(../fonts/AvenirNextLTPro-Bold.otf) format("woff")
}

@font-face {
    font-family: "Avenir Next Italic";
    src: url(../fonts/AvenirNextLTPro-It.otf) format("woff")
}

@font-face {
    font-family: "Geometos Rounded";
    src: url('../fonts/Geometos Rounded.ttf') format("woff")
}

html, body {
    font-family: "Avenir Next","Roboto",sans-serif;
    font-size: 12px;
    color: #2b2b2b;
    font-weight: 400;
    background-color: #fbfbfb;
}

.clear {
    clear: both
}

.site-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background-color: #fbfbfb
}

nav {
    color: inherit;
    background-color: #fbfbfb;
    width: 100%;
    box-shadow: none;
    margin: 0 auto;
    background-color: #fbfbfb;
    z-index: 2;
    position: fixed;
    top: 0;
    height: 70px;
    left: 0;
}

    nav.fixed {
        box-shadow: 0 0 3px 1px #999;
    }

.site-container nav ul {
    margin: 3px 0 10px;
    float: right
}

    .site-container nav ul li > a {
        text-transform: capitalize;
        margin: 0 5px;
        width: 120px;
        font-family: "Avenir Next Bold","Roboto",sans-serif;
        font-size: 14px;
        box-shadow: none;
    }

        .site-container nav ul li > a.btn-flat {
            width: auto;
            margin: 0 7px;
        }

    .site-container nav ul li a.profile-dp-box {
        width: auto;
        color: #2b2b2b;
        font-family: "Avenir Next","Roboto",sans-serif;
        font-size: 18px;
    }

    .site-container nav ul li > a.profile-dp-box:hover {
        background-color: transparent;
    }

.profile-edit-li {
    position: relative;
}

.edit-profile-div {
    display: none;
    position: absolute;
    top: -10px;
    width: 100%;
    background-color: transparent;
    padding: 80px 0 15px;
    z-index: 2;
}

    .edit-profile-div i {
        position: absolute;
        top: 67px;
        left: 10px;
        color: #fff;
        font-size: 58px !important;
        line-height: 60px !important;
        height: auto !important;
    }

    .edit-profile-div div {
        background-color: #fff;
        box-shadow: 0 3px 7px 0 #ddd;
        padding: 5px 0;
        z-index: 99;
    }

.profile-edit-li:hover .edit-profile-div {
    display: block;
}

.edit-profile-div div a {
    background-color: #fff;
    width: 100%;
    padding: 7px 20px;
    margin: 0;
    color: #2b2b2b;
    height: auto;
    line-height: 24px;
    font-family: "Avenir Next Bold","Roboto",sans-serif;
    font-size: 14px;
}

.edit-profile-div a:hover {
    background-color: transparent;
}

.site-container nav ul img {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.site-container nav ul span {
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    margin: 0 15px;
    width: 110px;
    vertical-align: top;
}

.dp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.editdp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.site-container .nav-wrapper {
    margin: 0 auto;
    width: 90%;
    height: 70px;
    background-color: #fbfbfb;
}

.fav-brand-logo img {
    width: 50px;
    margin: 10px 0 0
}

.about-button {
    color: #000;
    font-size: 20px
}

    .about-button:hover {
        background-color: transparent
    }

.login-button {
    border-radius: 25px;
    padding: 0 20px;
    background-color: #000;
    font-size: 12px;
    color: #fff
}

    .login-button:hover, .login-button:visited, .login-button:active, .login-button:focus {
        background-color: #393939 !important;
        box-shadow: none;
    }

.signup-button {
    border-radius: 25px;
    padding: 0 20px;
    background-color: #00bfd8;
    font-size: 12px;
    color: #fff
}

    .signup-button:hover, .signup-button:visited, .signup-button:active, .signup-button:focus {
        background-color: #09d9f4;
        box-shadow: none;
    }

.body-container {
    max-width: 1100px;
    width: 98%;
    margin: 0 auto;
    margin: 150px auto 0;
}

.design-fav {
    font-family: "Geometos Rounded",sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: #000;
    font-weight: bolder;
    text-align: center;
}

    .design-fav span {
        color: green;
    }

.fav-color-font-head {
    font-size: 28px;
    text-align: center;
    line-height: 18px;
}

.submit-color-font {
    font-family: "Avenir Next Bold","Roboto",sans-serif;
    color: #000;
    display: inline-block;
    text-decoration: underline;
    font-size: 22px;
}

.banner {
    margin: 50px auto 20px;
    text-align: center;
    height: 250px;
    overflow: hidden
}

    .banner .carousel.carousel-slider {
        max-width: 1022px;
        height: 100% !important;
        margin: 0 auto;
    }

.grid-continer {
    position: relative;
    max-width: 1042px;
    margin: 0 auto 100px;
    text-align: center
}

.box {
    padding: 20px;
    margin: 15px 10px;
    width: 325px;
    background-color: #fff;
    height: 440px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-align: left;
    border-radius: 1px;
}

    .box:hover, .box.active {
        box-shadow: 0 0 7px 0 #bbb;
    }

.box-dp {
    overflow: hidden;
    text-align: center;
    width: 285px;
    height: 156px;
    background-color: #e0e0e0;
}

    .box-dp img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
.box-dp-circle {
    overflow: hidden;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #e0e0e0;   
}

    .box-dp-circle img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

.box-name {
    font-size: 18px;
    line-height: 24px;
    padding-left: 15px;
    color: #000;
    margin-top: 20px;
    font-weight: 500
}

.box-location {
    color: #A09B9B;
    font-size: 16px;
    padding-left: 15px
}

.box-colors {
    margin: 20px 0;
    float: left
}

    .box-colors div {
        height: 60px;
        width: 142px;
        float: left
    }

.box-fonts {
    font-size: 18px;
    font-weight: 500
}

.box-social {
    text-align: center;
    padding: 5px
}

    .box-social a {
        margin: 30px 0 0;
        display: inline-block;
        cursor: pointer
    }

        .box-social a i {
            width: 33px;
            height: 33px;
            display: inline-block
        }

.box-social-dribble i {
    width: 33px;
    height: 33px;
    background: url(../images/login-with-dribble.png) no-repeat center center transparent;
    background-size: contain;
}

.box-social-facebook i {
    background: url(../images/facebook.png) no-repeat center center transparent
}

.footer {
    padding: 30px 0 100px;
    text-align: center;
    color: #000;
    font-size: 18px
}

nav a.button-collapse {
    display: none
}

input.search-header, input.search-header:hover, input.search-header:focus {
    padding: 3px 25px;
    margin: 13px 0 0 80px;
    background-color: #fff;
    width: 575px; /*width: 375px; if header has 5 menu items along with register and login*/
    /*width: 515px;*/ /* if header has 4 menu items along with register and login*/
    /*width: 575px;*/ /* if header has 3 menu items along with register and login*/
    border-radius: 25px;
    box-shadow: none !important;
    border: 1px solid #eae5e5 !important;
}

.site-container .progress {
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 3;
}

@media only screen and (max-width: 600px) {
    .site-container nav ul {
        float: none;
        display: block;
        width: 400px;
        clear: both;
        margin: 20px auto 0
    }

        .site-container nav ul li {
            float: none;
            display: inline-block
        }

    nav .brand-logo {
        text-align: center;
        width: 100%;
        position: relative
    }

    .body-container {
        margin-top: 50px
    }

    nav {
        height: auto;
        position: relative;
    }
}

@media (min-width: 601px) and (max-width: 722px) {
    .box {
        width: 46%;
        height: auto
    }

    .box-dp {
        width: 100%;
        height: 140px
    }

    .box-dp-circle {
        width: 100%;
        height: 100%
    }
    .box-name {
        margin-top: 15px
    }

    .box-colors {
        float: none
    }

        .box-colors div {
            height: 60px;
            width: 49%;
            float: left;
            margin-bottom: 15px
        }
}

@media (min-width: 601px) and (max-width: 992px) {
    nav .brand-logo {
        left: 5%
    }
}

.editprofilebox {
    padding: 20px;
    margin: 15px 10px;
    width: 1100px;
    background-color: #fff;
    height: 900px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    border-radius: 1px;
}

.edit-font {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 16px;
    color: #9a9a9a
}
.toast {
    border-radius: 2px;
    top: 35px;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    word-break: break-all;
    background-color: #fbfbfb;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #ff5700;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.toast {
    box-shadow: 0 2px 2px 0 rgba(251,251,251, 0.8), 0 1px 5px 0 rgba(251,251,251, 0.8), 0 3px 1px -2px rgba(251,251,251, 0.8);
}


