@charset "utf-8";

@font-face {
    font-family: "Avenir Next";
    src: url(../fonts/AvenirNextLTPro-Regular.otf) format("woff")
}

@font-face {
    font-family: "Avenir Next Bold";
    src: url(../fonts/AvenirNextLTPro-Bold.otf) format("woff")
}

@font-face {
    font-family: "Avenir Next Italic";
    src: url(../fonts/AvenirNextLTPro-It.otf) format("woff")
}

html, body {
    font-family: "Avenir Next","Roboto",sans-serif;
    font-size: 12px;
    color: #2b2b2b;
    font-weight: 400
}

.clear {
    clear: both
}

.site-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background-color: #F7F7F7;
}

.login-brand-logo {
    display: block;
    width: 75px;
    height: 145px;
    margin: 0 auto 40px;
    padding: 70px 0 0
}

.login-brand-logo img {
    width: 75px;
    height: 75px
}

.login-with, .register {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
    color: #000
}

.login-with-social {
    display: inline-block;
    margin: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer
}

.login-with-social i {
    width: 40px;
    height: 40px;
    display: inline-block;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}

.login-with-social:hover i {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.login-with-social .dribble {
    background: url(../images/login-with-dribble.png) no-repeat center center transparent;
    background-size: contain
}

.fb-button, .fb-button:hover {
    background: #4c66a4;
    width: 390px !important;
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: none;
}

.fb-button span, .fb-button i {
    display: inline-block;
    vertical-align: middle;
}

.login-with-social .facebook {
    background: url(../images/fb.png) no-repeat center center transparent;
    background-size: contain
}

.login-with-social .twitter {
    background: url(../images/login-with-twitter.png) no-repeat center center transparent;
    background-size: contain
}

.or-text {
    margin: 30px 0;
    text-align: center
}

.login-directly {
    width: 100%;
    text-align: center
}

.login-directly .login-form, .login-directly .sign-form {
    max-width: 390px;
    margin: 0 auto;
    display: inline-block;
    width: 90%
}

.login-form label:not(.active) {
    font-size: 16px;
    top: 0;
    color: #9a9a9a
}

.terms-conditions {
    margin-bottom: 30px;
    text-align: left
}

.login-form .login-button {
    border-radius: 25px;
    padding: 8px 20px;
    background-color: #000;
    font-size: 20px;
    color: #fff;
    width: 100%;
    line-height: 24px;
    height: auto;
    box-shadow: none;
    text-transform: capitalize
}

.forgot-password {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 16px;
    color: #9a9a9a
}

.sign-up-link {
    margin: 25px 0;
    text-align: center;
    font-size: 14px;
    color: #000
}

.sign-form label:not(.active) {
    font-size: 16px;
    top: 0
}

.sign-form .signup-button {
    border-radius: 25px;
    padding: 8px 20px;
    background-color: #00bfd8;
    font-size: 20px;
    color: #fff;
    width: 100%;
    line-height: 24px;
    height: auto;
    text-transform: capitalize;
    box-shadow: none
}

.input-field input {
    margin-bottom: 30px;
    font-size: 16px;
}

.input-field label {
    color: #777 !important;
}

.input-field input:focus + label {
    color: #000 !important;
    font-size: 14px !important
}

.input-field input {
    border-bottom: 1px solid #ccc !important;
    box-shadow: 0 1px 0 0 #ccc !important
}

.input-field input, .input-field input:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important
}

.input-field input.valid {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important
}

.input-field input.invalid {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important
}

.input-field .prefix.active {
    color: #000;
}

.edit-profile .profile-form {
    max-width: 690px;
    margin: 0 auto;
    display: inline-block;
    width: 90%
}

.input-field span.message {
    position: absolute;
    bottom: 7px;
    text-align: left;
    display: none;
    width: 100%;
    left: 0;
    font-weight: bold;
}

.input-field span.message.error {
    color: #ff5700;
}

.input-field span.message.info {
    color: #00bfd8;
}

.input-field.terms-conditions span.message {
    /*    bottom: -14px;*/
    right: -100px;
    left: auto;
    width: auto;
    top: 3px;
}
.text-error{
    color: #ff5700; 
}
.text-info{
    color: #00bfd8;
}
