<div class="site-container">
    <div class="nav-wrapper">
        <!--<a href="index.html" class="login-brand-logo"><img src="client/assets/images/logo.png" class="responsive-img"></a>-->
    </div>
    <div class="clear"></div>
    <div class="body-container">
        <h1 class="register">Register</h1>
        <div class="login-directly">
            <form class="sign-form" method="post" ng-submit="signup()" name="signupForm">
                <div class="input-field" ng-class="{ 'has-error' : signupForm.displayName.$invalid && signupForm.displayName.$dirty }">
                    <input id="name" type="text" class="validate" name="displayName" ng-model="user.displayName" required autofocus>
                    <label for="name">Name</label>
                    <span class="ion-person form-control-feedback"></span>
                    <div class="help-block text-danger" ng-if="signupForm.displayName.$dirty" ng-messages="signupForm.displayName.$error">
                        <div ng-message="required">You must enter your name.</div>
                    </div>
                </div>
                <div class="input-field" ng-class="{ 'has-error' : signupForm.location.$invalid && signupForm.location.$dirty }">
                    <input id="location" type="text" class="validate" name="location" ng-model="user.location" required autofocus>
                    <label for="location">Location</label>
                    <span class="ion-person form-control-feedback"></span>
                    <div class="help-block text-danger" ng-if="signupForm.location.$dirty" ng-messages="signupForm.location.$error">
                        <div ng-message="required">You must enter your location.</div>
                    </div>
                </div>
                <div class="input-field" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
                    <input id="email" type="email" class="validate" name="email" ng-model="user.email" required>
                    <label for="email">Email Address</label>
                    <span class="ion-at form-control-feedback"></span>
                    <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
                        <div ng-message="required">Your email address is required.</div>
                        <div ng-message="pattern">Your email address is invalid.</div>
                    </div>
                </div>
                <div class="input-field" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
                    <input id="password" type="password" class="validate" name="password" ng-model="user.password" required>
                    <label for="password">Password</label>
                    <span class="ion-key form-control-feedback"></span>
                    <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
                        <div ng-message="required">Password is required.</div>
                    </div>
                </div>
                <div class="input-field" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
                    <input password-match="user.password" id="cpassword" type="password" class="validate" name="confirmPassword" ng-model="confirmPassword">
                    <label for="cpassword">Confirm Password</label>
                    <span class="ion-key form-control-feedback"></span>
                    <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
                        <div ng-message="compareTo">Password must match.</div>
                    </div>
                </div>
                <div class="input-field terms-conditions">
                    <input type="checkbox" ng-model="conditions" id="test5" required />
                    <label for="test5">Agree to <a data-target="terms" class="modal-trigger waves-effect waves-light">terms &amp; conditions</a>  and <a data-target="privacy" class="waves-effect waves-light">privacy policy</a></label>
                </div>
                <div class="input-field">
                    <button type="submit" class="waves-effect waves-light btn signup-button">Register</button>
                </div>
                <div class="input-field sign-up-link">
                    Already have an account? <a ui-sref="login" class="waves-effect waves-light">Login</a>
                </div>
            </form>
        </div>
        <div class="center-align">
            <!--<a class="login-with-social" ng-click="authenticate('dribble')"> <i class="dribble"></i></a>-->
            <!--<a class="login-with-social" ng-click="authenticate('facebook')"> <i class="facebook"></i></a>-->
            <a class="login-with-social btn fb-button" ng-click="authenticate('facebook')"><i class="facebook"></i> <span>Login with Facebook</span></a>
            <!--<a class="login-with-social" ng-click="authenticate('twitter')"> <i class="twitter"></i></a>-->
        </div>
    </div>
</div>



<!-- Terms Modal Structure -->
<div id="terms" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Terms & Conditions !</h4>
        <p>
            The following terms and conditions govern all use of the Designerfav website and all content, services and products available at or through the website. The Website is owned and operated by Designerfav Ltd . The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Designerfav Privacy Policy) and procedures that may be published from time to time on this Site by Designerfav(collectively, the Agreement).

            Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by Designerfav, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.

        </p>

        <p>This Privacy Policy was crafted from Wordpress.com's version, which is available under a Creative Commons Sharealike license.</p>

    </div>
    <div class="modal-footer">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
</div>
<!-- Privacy Policy Modal Structure -->
<div id="privacy" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Privacy Policy</h4>
        <p>
            Your privacy is critically important to us. At Designerfav we have a few fundamental principles:
        </p>
    </div>
    <div class="modal-footer">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat ">Ok</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal').modal({
            dismissible: false
        });
    });

</script>
