<div class="body-container">
    
    <div class="row">
        &nbsp;
    </div>
    <h1 class="design-fav">Hello <span>Designers!</span></h1>
    <!--<typer words="['Designers!', 'Designers!']" type-time='300' backspace-time='150' start-delay='1500' start-typing="true" highlight-background="#fbfbfb" pause="1500"></typer>-->
    <h1 class="fav-color-font-head">Designerfav is a place to share your<br/> favourite color &amp; fonts to all your designer mates!</h1>
    
    <div class="row">
        &nbsp;
    </div>  
    <div class="space-200"></div>

    <h1 class="design-fav">Share favourite. <span><typer words="['Color', 'font','location','designation','dribble','behance']" type-time='300' backspace-time='150' start-delay='1500' start-typing="true" highlight-background="#fbfbfb" pause="1500"></typer></span></h1>
</div>

