
<style>

    input[type=search]:focus:not([readonly])
    {
        border-bottom: none !important;
        box-shadow: none !important;
    }

    .md-focused{
        box-shadow: none !important;
    }

    .md-chips{
        border-bottom: 1px solid #000 !important;
        box-shadow: 0 1px 0 0 #000 !important;
    }
    .white-box{
        padding: 20px;
        margin: 15px 10px;
        width: 100%;
        background-color: #fff;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        text-align: left;
        border-radius: 1px;
    }
</style>
<div class="body-container">
    <div class="white-box">
        <div class="col s8 offset-s2" style="font-size:25px;">
        <span class="text-muted">Select your two fav fonts</span>
        </div>
        <div class="col s12">
            <div class="col s8 offset-s2">
                <md-chips ng-model="selectedItem.fonts"  md-autocomplete-snap md-require-match="true" md-max-chips="2">
                <md-autocomplete 
                                md-search-text="searchText"
                                md-items="item in querySearch(searchText)"
                                md-item-text="item"
                                md-autoselect="true"
                                md-select-on-match="true"
                                md-no-cache="true"
                                md-require-match="true"
                                placeholder="Search a font..">
                    <span md-highlight-text="searchText">{{item}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>{{$chip}}</span>
                </md-chip-template>
                </md-chips>
            </div>
            <div class="col s8 offset-s2 message error" style="color:#ff5700"  ng-if="isFontError">
                <span class="error">Please select two fav fonts!</span>
            </div>
        </div>
        <div class="col s10">
            <div class="input-field">
                <a class="waves-effect waves-light btn login-button" style="float:right;width: 120px" ng-click="updateProfile()">Submit</a>
            </div>
        </div>
    </div>
</div>


