<div class="site-container">

    <div class="nav-wrapper">
        <!--<a href="index.html" class="login-brand-logo"><img src="public/assets/images/logo.png" class="responsive-img"></a>-->
    </div>
    <div class="clear"></div>
    <div class="body-container">
        <h1 class="login-with">Login with</h1>
        <div class="center-align">
            <!-- phase 2  <a class="login-with-social" ng-click="authenticate('dribble')"> <i class="dribble"></i></a><i class="facebook"></i>
                <a class="login-with-social" ng-click="authenticate('facebook')"> <i class="facebook"></i></a>-->
            <a class="login-with-social btn fb-button" ng-click="authenticate('facebook')"><i class="facebook"></i> <span>Login with Facebook</span></a>
            <!--<a class="login-with-social" ng-click="authenticate('twitter')"> <i class="twitter"></i></a>-->
        </div>
        <div class="or-text">OR</div>
        <div class="login-directly">
            <form class="login-form" method="post" ng-submit="login()" name="loginForm">
                <div class="input-field">
                    <input id="email" type="email" class="validate" name="email" ng-model="user.email" required autofocus>
                    <label for="email">Email Address</label>
                    <span class="message error">Please enter a valid email address</span>
                </div>
                <div class="input-field">
                    <input id="password" type="password" class="validate" name="password" ng-model="user.password" required>
                    <label for="password">Password</label>
                    <span class="message error">Please enter a password</span>
                    <!--phase 2 <a href="" class="forgot-password">Forgot?</a>-->
                </div>
                <div class="input-field">
                    <button class="waves-effect waves-light btn login-button" type="submit">Login</button>
                </div>

                <div class="input-field sign-up-link">
                    Dont have an account yet? <a ui-sref="signup" class="waves-effect waves-light">Sign Up</a>
                </div>

            </form>
        </div>
    </div>
</div>